* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}


h1 {
    font-family: Arial, sans-serif;
    background-color: #07082e;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

p {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;

}

span {
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

#choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;

}

.choice {
    width: 165px;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

}

.choice:hover {
    cursor: pointer;
    background-color: #07082e;
    transition: background-color 0.3s ease-in;

}

.choice img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5rem;
}

.msg-container {
    background-color: #07082e;
    display: inline-block;
    border-radius: 1rem;
}

#msg {
    font-size: 1.3rem;
    color: white;
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    border-radius: 1rem;
}

button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    background-color: #07082e;
    color: white;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

@media (max-width: 425px) {
    #choices {
        flex-direction: column;
    }

    .choice {
        height: 155px;
        width: 155px;
    }

    img {
        width: 140px;
        height: 140px;
    }

    h1 {
        font-size: 1.3rem;
    }

    p {
        font-size: 1.2rem;
    }

    span {
        font-size: 1.2rem;
    }

    #msg {
        font-size: 1.1rem;
    }

    .score-board {
        flex-direction: column;
    }

    #msg-container {
        margin-top: 2rem;
    }

    #msg {
        padding: 0.6rem;
    }

    button {
        margin-top: 0.8rem;
        padding: 0.5rem 1rem;
    }

}